---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import LeftSidebar from "../../components/leftSidebar/LeftSidebar.astro";
import RightSidebar from "../../components/RightSidebar/RightSidebar.astro";
import type { MarkdownHeading } from "astro";

const currentPage = Astro.url.pathname;
export async function getStaticPaths() {
  const docs = await getCollection("docs");
  return docs.map((doc) => ({
    params: { slug: doc.slug },
    props: { doc },
  }));
}

interface Props {
  doc: CollectionEntry<"docs">;
  headings: MarkdownHeading[];
}

const { doc } = Astro.props;
const { Content } = await doc.render();
---

<Layout>
  <div class="flex pt-5 pb-5">
    <aside class="w-1/6 z-3">
      <LeftSidebar currentPage={currentPage} collection="docs" />
    </aside>
    <article
      class="flex-1 prose prose-xl dark:prose-invert max-w-screen-lg pl-3"
    >
      <Content />
    </article>
    <aside class="w-1/6">
      <RightSidebar />
    </aside>
  </div>
</Layout>
