---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import LeftSidebar from "../../components/leftSidebar/LeftSidebar.astro";

const currentPage = Astro.url.pathname;
export async function getStaticPaths() {
  const docs = await getCollection("docs");
  return docs.map((doc) => ({
    params: { slug: doc.slug },
    props: { doc },
  }));
}

interface Props {
  doc: CollectionEntry<"docs">;
}

const { doc } = Astro.props;
const { Content } = await doc.render();
---

<Layout>
  <div class="flex flex-row pt-5 pb-5">
    <aside class="w-1/6 z-3">
      <LeftSidebar currentPage={currentPage} collection="docs" />
    </aside>
    <article class="prose prose-xl dark:prose-invert max-w-4xl pl-5">
      <Content />
    </article>
  </div>
</Layout>
