<section
  class="flex flex-row justify-center px-36 p-5 my-10 text-left items-center"
>
  <div class="w-fit">
    <h1 class="text-5xl font-bold pb-2">Collaboration</h1>
    <p class="my-4 text-2xl">
      Wanna add or edit a doc? Learn how can you collaborate to this project.
      Check out the contributor guidance on PRs, technical writing, lineaments,
      etc.
    </p>
    <button
      class="bg-lime-500 px-3 py-2 hover:bg-lime-600 text-zinc-900 rounded-lg text-lg"
      ><a href="/about/intro">Find out</a></button
    >
  </div>
  <img src="/images/collab.svg" alt="" class="w-64 mr-16" />
</section>
