<section class="flex flex-row justify-center p-5 text-left items-center">
  <img src="/images/collab.svg" alt="" class="w-64 mr-16" />
  <div class="w-fit">
    <h1 class="text-5xl font-bold pb-2">Write. Correct. Add. Collab</h1>
    <p class="my-4 text-2xl">
      You can easily collab to this project through Github by submitting
      Markdown files.
    </p>
    <button
      class="bg-lime-500 px-3 py-2 hover:bg-lime-600 text-zinc-900 rounded-lg text-lg"
      >Find Out</button
    >
  </div>
</section>
