<section>
  <div class="grid grid-cols-4 gap-4 p-4 text-center">
    <div class="p-10 bg-slate-200 dark:bg-slate-700 rounded-xl">
      <img class="h-36 m-auto" src="images/search.svg" alt="" />
      <h2 class="text-2xl font-bold my-4">Search</h2>
      <p>Search anything you want, natural language support</p>
    </div>
    <div class="p-10 bg-slate-200 dark:bg-slate-700 rounded-xl">
      <img class="h-36 m-auto" src="images/kt.svg" alt="" />
      <h2 class="text-2xl font-bold my-4">Knowledge Transfer</h2>
      <p>Facilitates the Knowledge Transfer process</p>
    </div>
    <div class="p-10 bg-slate-200 dark:bg-slate-700 rounded-xl">
      <img class="h-36 m-auto" src="images/teamwork.svg" alt="" />
      <h2 class="text-2xl font-bold my-4">Team Work</h2>
      <p>
        Easy to add or edit docs through Github by submitting Markdown files
      </p>
    </div>
    <div class="p-10 bg-slate-200 dark:bg-slate-700 rounded-xl">
      <img class="h-36 m-auto" src="images/easy.svg" alt="" />
      <h2 class="text-2xl font-bold my-4">Easy to use</h2>
      <p>
        Practical UI for a nice user expierence in both light and dark theme
      </p>
    </div>
  </div>
</section>
