<main
  class="bg-slate-200 dark:bg-slate-700 flex flex-row justify-center m-4 p-10 text-left rounded-xl items-center"
>
  <div class="w-fit">
    <h1 class="text-5xl font-bold pb-2">
      <span class="text-6xl">SEA Docs</span>
      <br />The all-in-one wiki for SE Advantage
    </h1>
    <p class="my-4 text-2xl">
      Looking up for reference made easy. Handy, fast and reliable and concise
      information. <br />
      Based on a intuitive UI/UX design
    </p>
    <button
      class="bg-lime-500 px-3 py-2 hover:bg-lime-600 text-zinc-900 rounded-lg text-lg"
    >
      <a href="/docs/intro">Go to Docs</a>
    </button>
  </div>
  <img src="/images/docs.svg" alt="" class="w-52 ml-16" />
</main>
