<header
  class="bg-slate-200 dark:bg-slate-700 flex flex-row justify-center m-4 p-10 text-left rounded-xl items-center"
>
  <div class="w-fit">
    <h1 class="text-5xl font-bold pb-2">
      SEA Docs, the all-in-one-place wiki for<br />SE Advantage
    </h1>
    <p class="my-4 text-2xl">
      Consult any aspect of the application, look up for specific topics, fast
      and reliavle,<br />intuitive UI/UX, easy to use and consise information.
    </p>
    <button
      class="bg-lime-500 px-3 py-2 hover:bg-lime-600 text-zinc-900 rounded-lg text-lg"
      >Go to Docs</button
    >
  </div>
  <img src="/images/docs.svg" alt="" class="w-52 ml-16" />
</header>
