---
interface Props {
    size: number;
}

const {size} = Astro.props;
---
<div class="text-3xl font-thin text-gray-700 dark:text-zinc-200 flex items-center ml-8 mr-5">
<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width={size} height={size} version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
viewBox="0 0 21590 21590"
 xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
   <![CDATA[
    .fil0 {fill:#84cc16}
   ]]>
  </style>
 </defs>
 <g id="Capa_x0020_1">
  <metadata id="CorelCorpID_0Corel-Layer"/>
  <g id="_1779697837536">
   <circle class="fil0" cx="10795" cy="12271" r="1247"/>
   <circle class="fil0" cx="10795" cy="9560" r="926"/>
   <circle class="fil0" cx="10795" cy="7364" r="741"/>
   <circle class="fil0" cx="10795" cy="5384" r="624"/>
   <circle class="fil0" cx="10795" cy="3741" r="510"/>
   <circle class="fil0" cx="10795" cy="2191" r="335"/>
   <circle class="fil0" transform="matrix(3.90364 -1.66784 1.66784 3.90364 8866.98 7758.52)" r="175"/>
   <circle class="fil0" transform="matrix(3.28349 -1.40288 1.40288 3.28349 8089.27 5938.27)" r="175"/>
   <circle class="fil0" transform="matrix(2.68667 -1.14789 1.14789 2.68667 7443.46 4426.72)" r="175"/>
   <circle class="fil0" transform="matrix(1.76303 -0.753261 0.753261 1.76303 6834.76 3002.04)" r="175"/>
   <circle class="fil0" transform="matrix(3.74895 -3.74895 3.74895 3.74895 8877.88 10354)" r="175"/>
   <circle class="fil0" transform="matrix(3.00167 -3.00167 3.00167 3.00167 7325.07 8801.18)" r="175"/>
   <circle class="fil0" transform="matrix(2.52482 -2.52482 2.52482 2.52482 5925.4 7401.51)" r="175"/>
   <circle class="fil0" transform="matrix(2.06589 -2.06589 2.06589 2.06589 4763.1 6239.21)" r="175"/>
   <circle class="fil0" transform="matrix(1.35567 -1.35567 1.35567 1.35567 3667.61 5143.72)" r="175"/>
   <circle class="fil0" transform="matrix(1.40521E-13 -5.30181 5.30181 1.40521E-13 8083.81 12271.1)" r="175"/>
   <circle class="fil0" transform="matrix(1.13071E-13 -4.24501 4.24501 1.13071E-13 5887.81 12271.1)" r="175"/>
   <circle class="fil0" transform="matrix(9.50352E-14 -3.57063 3.57063 9.50352E-14 3908.38 12271.1)" r="175"/>
   <circle class="fil0" transform="matrix(7.75939E-14 -2.92161 2.92161 7.75939E-14 2264.65 12271.1)" r="175"/>
   <circle class="fil0" transform="matrix(5.10852E-14 -1.91721 1.91721 5.10852E-14 715.382 12271.1)" r="175"/>
   <circle class="fil0" transform="matrix(-3.74895 -3.74895 3.74895 -3.74895 8877.91 14188.3)" r="175"/>
   <circle class="fil0" transform="matrix(-3.00167 -3.00167 3.00167 -3.00167 7325.1 15741.1)" r="175"/>
   <circle class="fil0" transform="matrix(-2.52482 -2.52482 2.52482 -2.52482 5925.44 17140.7)" r="175"/>
   <circle class="fil0" transform="matrix(-2.06589 -2.06589 2.06589 -2.06589 4763.14 18303)" r="175"/>
   <circle class="fil0" transform="matrix(-1.35567 -1.35567 1.35567 -1.35567 3667.65 19398.5)" r="175"/>
   <circle class="fil0" transform="matrix(-3.74895 -3.74895 -3.74895 3.74895 12712.1 10354)" r="175"/>
   <circle class="fil0" transform="matrix(-3.00167 -3.00167 -3.00167 3.00167 14264.9 8801.18)" r="175"/>
   <circle class="fil0" transform="matrix(-2.52482 -2.52482 -2.52482 2.52482 15664.6 7401.51)" r="175"/>
   <circle class="fil0" transform="matrix(-2.06589 -2.06589 -2.06589 2.06589 16826.9 6239.21)" r="175"/>
   <circle class="fil0" transform="matrix(-1.35567 -1.35567 -1.35567 1.35567 17922.4 5143.72)" r="175"/>
   <circle class="fil0" transform="matrix(-1.40521E-13 -5.30181 -5.30181 1.40521E-13 13506.2 12271.1)" r="175"/>
   <circle class="fil0" transform="matrix(-1.13071E-13 -4.24501 -4.24501 1.13071E-13 15702.2 12271.1)" r="175"/>
   <circle class="fil0" transform="matrix(-9.50352E-14 -3.57063 -3.57063 9.50352E-14 17681.6 12271.1)" r="175"/>
   <circle class="fil0" transform="matrix(-7.75939E-14 -2.92161 -2.92161 7.75939E-14 19325.4 12271.1)" r="175"/>
   <circle class="fil0" transform="matrix(-5.10852E-14 -1.91721 -1.91721 5.10852E-14 20874.6 12271.1)" r="175"/>
   <circle class="fil0" transform="matrix(3.74895 -3.74895 -3.74895 -3.74895 12712.1 14188.3)" r="175"/>
   <circle class="fil0" transform="matrix(3.00167 -3.00167 -3.00167 -3.00167 14264.9 15741.1)" r="175"/>
   <circle class="fil0" transform="matrix(2.52482 -2.52482 -2.52482 -2.52482 15664.6 17140.7)" r="175"/>
   <circle class="fil0" transform="matrix(2.06589 -2.06589 -2.06589 -2.06589 16826.9 18303)" r="175"/>
   <circle class="fil0" transform="matrix(1.35567 -1.35567 -1.35567 -1.35567 17922.4 19398.5)" r="175"/>
   <circle class="fil0" transform="matrix(1.60157 -3.93129 3.93129 1.60157 6250.44 10419.7)" r="175"/>
   <circle class="fil0" transform="matrix(1.34714 -3.30675 3.30675 1.34714 4417.3 9672.89)" r="175"/>
   <circle class="fil0" transform="matrix(1.10228 -2.7057 2.7057 1.10228 2895.03 9052.74)" r="175"/>
   <circle class="fil0" transform="matrix(0.72333 -1.77552 1.77552 0.72333 1460.26 8468.23)" r="175"/>
   <circle class="fil0" transform="matrix(-1.55623 -3.94946 3.94946 -1.55623 6229.43 14070.1)" r="175"/>
   <circle class="fil0" transform="matrix(-1.309 -3.32204 3.32204 -1.309 4387.82 14795.8)" r="175"/>
   <circle class="fil0" transform="matrix(-1.07107 -2.7182 2.7182 -1.07107 2858.53 15398.4)" r="175"/>
   <circle class="fil0" transform="matrix(-0.702853 -1.78373 1.78373 -0.702853 1417.13 15966.3)" r="175"/>
   <circle class="fil0" transform="matrix(-3.90364 -1.66784 -1.66784 3.90364 12723 7758.52)" r="175"/>
   <circle class="fil0" transform="matrix(-3.28349 -1.40288 -1.40288 3.28349 13500.7 5938.27)" r="175"/>
   <circle class="fil0" transform="matrix(-2.68667 -1.14789 -1.14789 2.68667 14146.5 4426.72)" r="175"/>
   <circle class="fil0" transform="matrix(-1.76303 -0.753261 -0.753261 1.76303 14755.2 3002.04)" r="175"/>
   <circle class="fil0" transform="matrix(-1.60157 -3.93129 -3.93129 1.60157 15339.6 10419.7)" r="175"/>
   <circle class="fil0" transform="matrix(-1.34714 -3.30675 -3.30675 1.34714 17172.7 9672.89)" r="175"/>
   <circle class="fil0" transform="matrix(-1.10228 -2.7057 -2.7057 1.10228 18695 9052.74)" r="175"/>
   <circle class="fil0" transform="matrix(-0.72333 -1.77552 -1.77552 0.72333 20129.7 8468.23)" r="175"/>
   <circle class="fil0" transform="matrix(1.55623 -3.94946 -3.94946 -1.55623 15360.6 14070.1)" r="175"/>
   <circle class="fil0" transform="matrix(1.309 -3.32204 -3.32204 -1.309 17202.2 14795.8)" r="175"/>
   <circle class="fil0" transform="matrix(1.07107 -2.7182 -2.7182 -1.07107 18731.5 15398.4)" r="175"/>
   <circle class="fil0" transform="matrix(0.702853 -1.78373 -1.78373 -0.702853 20172.9 15966.3)" r="175"/>
  </g>
 </g>
</svg>
<span class="pl-2 hover:text-lime-500"><strong>SEA</strong>Docs</span>
</div>

