---
import Logo from "./Logo.astro";
import NavLinks from "./NavLinks.astro";
import Search from "./Search.jsx";
import ThemeToggleButton from "./ThemeToggleButton.astro";
---

<nav
  class="pb-3 pt-3 border-b-2 border-zinc-300 dark:border-zinc-700 flex items-center"
>
  <Logo size={45} />
  <NavLinks />
  <ThemeToggleButton size={27} />
  <Search client:load />
</nav>
