---
import Logo from "./Logo.astro";
import NavLinks from "./NavLinks.astro";
import Search from "./Search.jsx";
import ThemeToggleButton from "./ThemeToggleButton.astro";
---

<nav
  class="sticky top-0 pb-3 pt-3 border-b-2 bg-zinc-100 border-zinc-300 dark:border-zinc-700 dark:bg-zinc-800 flex items-center"
>
  <Logo size={45} />
  <NavLinks />
  <ThemeToggleButton size={27} />
</nav>
