<div class="w-full">
  <ul class="font-medium text-xl flex">
    <li>
      <a
        href="/docs/introduction"
        class="block py-2 pl-3 pr-2 hover:text-lime-500"
        aria-current="page">Docs</a
      >
    </li>
    <li>
      <a href="#" class="block py-2 pl-3 pr-2 hover:text-lime-500">How To</a>
    </li>
    <li>
      <a href="#" class="block py-2 pl-3 pr-2 hover:text-lime-500">About</a>
    </li>
  </ul>
</div>
